nav a.active {
  background-color: white;
  border-radius: 80px;
  padding: 4px 20px;
  padding-right: 100px;
  position: relative;
}
/* custom underline */
nav a.active::after {
  content: '+';
  position: absolute;
  right: 10px;
  top: -6px;
  transition: all 0.5s ease-in;
  font-size: 24px;
  transition: all 0.5s linear;
}

@media (min-width: 300px) and (max-width: 767.98px) {
  nav a.active {
    padding-right: 20px;
  }
  nav a.active::after {
    content: '';
  }
}