nav a.active {
  background-color: #00a9ff;
  border-radius: 80px;
  padding: 10px 20px;
  position: relative;
  min-width: 250px;
  color: white;
}
/* custom underline */
nav a.active::after {
  content: '';
  position: absolute;
  right: 10px;
  top: -6px;
  transition: all 0.5s ease-in;
  font-size: 24px;
  transition: all 0.5s linear;
}
