@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* tailwind resuable class */
.flexme {
  @apply flex justify-start items-center gap-3;
}
.flex-bet {
  @apply flex justify-between items-center;
}
.flex-cen {
  @apply flex justify-center items-center gap-4 flex-wrap;
}

.round-bg {
  @apply rounded-full p-2 bg-primary bg-opacity-70;
}

/* overlay effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -150;
}

.gradient-bg {
  background: linear-gradient(45deg, #3fbefd, #89cff3, #c0b0fc, #aa94f7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #00a9ff,
    #2fa6f0,
    #4c6ef7,
    #6554fb,
    #cd59fc
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* gradient animation */

.gradient-anim:hover {
  background: linear-gradient(45deg, #3fbefd, #89cff3, #c0b0fc, #aa94f7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0;
  }
  12.5% {
    background-position: 100% 12.5%;
  }
  25% {
    background-position: 0% 25%;
  }
  37.5% {
    background-position: 100% 37.5%;
  }
  50% {
    background-position: 0% 50%;
  }
  62.5% {
    background-position: 100% 62.5%;
  }
  75% {
    background-position: 0% 75%;
  }
  87.5% {
    background-position: 100% 87.5%;
  }
  100% {
    background-position: 0% 100%;
  }
}
